name: CI

on:
  push:
    branches: [master]
    tags-ignore: [v*]
  pull_request:
    branches: [master]

jobs:
  windows_build:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2   # docs: https://github.com/actions/checkout
      with:
        fetch-depth: '0'
    - name: Run build
      run: .\gradlew.bat build --scan --continue

  build:

    runs-on: ubuntu-latest

    needs: windows_build

    steps:
    - uses: actions/checkout@v2   # docs: https://github.com/actions/checkout
      with:
        fetch-depth: '0'
    - name: Run build
      run: ./gradlew build --scan --continue
    - name: Perform release (tagging, changelog, deployment to plugins.gradle.org)
      if: success()
          && github.event_name == 'push'
          && github.ref == 'refs/heads/master'
          && !contains(toJSON(github.event.commits.*.message), '[skip release]')
      run: ./gradlew publishPlugins githubRelease --scan
      env:
          # Gradle env variables docs: https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_environment_variables
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GH_WRITE_TOKEN: ${{ secrets.GH_WRITE_TOKEN }}
