#
# CI build that also make relases from the main dev branch.
#
# - skipping CI: add [skip ci] to the commit message
# - skipping release: add [skip release] to the commit message
#
name: CI

on:
  push:
    branches: [master]
    tags-ignore: [v*]
  pull_request:
    branches: [master]

jobs:
  windows_build:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2   # docs: https://github.com/actions/checkout
      with:
        fetch-depth: '0'
    - name: Run build
      run: .\gradlew.bat build --continue

  build:

    runs-on: ubuntu-latest

    needs: windows_build

    steps:
    - uses: actions/checkout@v2   # docs: https://github.com/actions/checkout
      with:
        fetch-depth: '0'
    - name: Run build
      run: ./gradlew build --continue
    - name: Perform release (tagging, changelog, deployment to plugins.gradle.org)
      if: github.event_name == 'push'
          && github.ref == 'refs/heads/master'
          && github.repository == 'shipkit/shipkit-changelog'
          && !contains(toJSON(github.event.commits.*.message), '[skip release]')
      run: ./gradlew githubRelease publishPlugins
      env:
          # Gradle env variables docs: https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_environment_variables
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
